.mouseTracker{
    top: 0;
    left: 0;
    position: fixed;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0px 0px 120px 120px  var(--dark-green);
    opacity: .5;
}
.exercises{
    max-width: 900px;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px; 
}
.ex-grid{
    margin: auto;
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(auto-fit,1fr);
    grid-auto-rows: 150px;
    gap: 16px;
}
.ex-grid-title{
    margin-bottom: 50px;
    font-weight: normal;
}
.ex-card{
    position: relative;
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 7px;
    padding: 20px;
    cursor: pointer;
    /* transition-duration: 150ms; */
    transition-duration: 200ms;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--light-yellow);
    text-align: center;
    backdrop-filter: blur(3px);
}
.ex-card>img{
    max-width: 80%;
    aspect-ratio: 1;
}

.ex-card:hover{
    transform: scale(1.12) skew(-3deg);
    color: var(--blue);
    border: none;
}
.ex-card::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: .3;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
}
.ex-card:hover::before{
    opacity: 1;
}

.ex-card-easy{
    border: 3px solid var(--lime);
}
.ex-card-easy::before{
    background-color: var(--lime);
}
.ex-card-tutorial{
    /* background-color: rgba(255,255,255,.3); */
    background-color:var(--white-transparent);
    color:var(--font-color)
}

.ex-card-medium{
    border: 3px solid var(--orange);
}
.ex-card-medium::before{
    background-color: var(--orange);
}

.ex-card-hard{
    border: 3px solid var(--red);
}
.ex-card-hard::before{
    background-color: var(--red);
}


/* @media (width > 1000px){ */
@media (width > 700px){
.ex-grid{
    grid-template-columns: repeat(3,minmax(200px,1fr));

}

.ex-card:nth-child(6n){
    grid-column: span 1 !important;
    grid-row: span 1 !important;
}
.ex-card:nth-child(2n),
.ex-card:nth-child(3n),
.ex-card:nth-child(7n){    
    grid-column: span 2;
    grid-row: span 1;
}

.ex-card:nth-child(4n),
.ex-card:nth-child(5n){    
    flex-direction: column;
    grid-column: span 1;
    grid-row: span 2;
}

}



/* ESTILOS PARA EL SOLVER */

.sv-container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    /* padding: 20px; */
    gap: 10px;
    flex-direction: row;
    height: 80vh;


}
@media (width<800px) {
    .sv-container{
        flex-direction: column;
    }
    .sv-collapse-icon{
        display: none;
    }
}
.sv-description{
    box-sizing: border-box;
    position: relative;
    background-color: var(--dark-green);
    flex:1;
    padding: 20px;
    min-height: 300px;
    overflow-y: auto;
    scrollbar-color: var(--darker-green) var(--dark-green);
    scrollbar-width: thin;
    border-radius: 15px;
    /* min-width: 50px; */
    transition-duration: 150ms;
    transition-property: flex,color;
}
.sv-collapsed{
    /* min-width: 50px; */
    flex: 0 !important;
    color: var(--dark-green);
    overflow: hidden;
}
.sv-collapsed>.sv-collapse-icon{
    left: 0;
    right: 0;
    margin: auto;
    color: var(--light-yellow);
}

.sv-collapse-icon{
    /* background-color: red; */
    color: var(--darker-green);
    position: absolute;
    padding: 0;
    font-size: 2em;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}


.sv-console>h2,
.sv-description>h2{
    margin-top:0;
}
.sv-description-example{
    background-color: var(--darker-green);
    /* color: #ccc; */
    padding: 0px 25px;
    margin: 15px auto;
    border: 2px dashed var(--light-yellow);
    border-radius: 15px;
}
.sv-description-code-example{
    background-color: #2d2d2d;
    padding: 1px 20px;
    color: #f8f8f2;
    /* line-height: 8px; */
    /* line-height: 1em; */
    padding: 5px;
}
.sv-description-code-example>div{
    display: flex;
    align-items: center;
}

.sv-description-code-example>div>span{
    align-self: flex-start;
}

.sv-description-code-example>div>p{
    margin: 0;
}


.sv-description-code-example span{
    color:#8d8d8d;
    margin-right: 10px;

}

.sv-description img{
    /* border-radius: 15px; */
    width: 100%;
}

.sv-editor{
    position: relative;
    /* background-color: #03201d; */
    background-color: var(--darker-green);
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    gap: 20px;
    max-width: 800px;
    padding-bottom: 20px;
}
.sv-editor-toggleTheme{
    /* background-color: red; */
    position: absolute;
    z-index: 1;
    top: -45px;
    right: 5px;
    font-size: 1.1em;
    /* width: 40px; */
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;    
    /* border: 1px solid red; */
    cursor: pointer;

}

.sv-editor>button{
    width: 50%;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--blue);
    border: 2px solid var(--light-yellow);
    color:var(--light-yellow);
    font-weight: bolder;
    font-size: 1em;
}

.sv-console{
    position: relative;
    background-color: var(--dark-green);
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px;
    border-radius: 15px;
    overflow-y: auto;
    scrollbar-color: var(--darker-green) var(--dark-green);
    scrollbar-width: thin;
    transition-duration: 150ms;
    transition-property: flex,color, background;
    text-align: center;


}

.sv-console-error{
    background-color: var(--dark-red);
}
.sv-console-error>span{
    font-size: 2em;
    margin-top: 150px;
}
.sv-console-hint{
    background-color: rgb(5, 41, 65);
    padding: 7px;
    color: white;
    border-radius: 15px;
    width: 80%;
    margin: 20px auto;
    cursor: pointer;
}
.sv-console-hint:hover{
    /* border-color: var(--blue); */
    background-color: rgb(8, 80, 128);
}
.sv-console-hint>span{
    font-size: 20px;
}



.sv-console-solution{
    position: fixed;
    display: grid;
    place-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6; /*<.minimap de monaco editor esta en z-index:5*/
    background-color: rgba(0,0,0,.75);
    backdrop-filter: blur(10px);
}
.sv-console-solution-show-btn{
    position: relative;
    background-color: #8a0e0e;
    padding: 7px;
    color: white;
    border-radius: 15px;
    /* width: 80%; */
    margin: 20px auto;
    cursor: pointer;
}

.sv-console-solution-code{
    background-color: #2d2d2d;
    color: white;
    padding: 50px 50px 50px 25px;
    border-radius: 15px;
    font-size: 1.4em;
}
.sv-console-solution-code>div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sv-console-solution-code>div:nth-child(1){
    color: #608b4e;
}
.sv-console-solution-code p{
    margin: 0;
}
.sv-console-solution-code span{
    user-select: none;
    color:#8d8d8d;
}

.sv-console-solution-closeBtn{
    position: fixed;
    font-size: 50px;
    width: 60px;
    height: 60px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #ffdf88;
}

.sv-console-confirmDialog{
    background-color: var(--dark-green);
    color:var(--font-color);
    border-radius: 15px;
    padding: 20px 50px;
    gap: 20px;
    font-size: 1.5em;
}
.sv-console-confirmDialog-btns{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.sv-console-confirmDialog-btns>div{
    background-color: rgb(10, 116, 10);
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid rgb(27, 27, 27);
}
.sv-console-confirmDialog-btns>div:nth-child(1){
    background-color: rgb(160, 24, 24);
}




.sv-test{
    position: relative;
    background-color: #363636;
    color: #b9b9b9;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
    transition-duration: 150ms;
    transition-property: background-color,color;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* .sv-collapsed>.sv-test,
.sv-collapsed>span,
.sv-collapsed>h2{
    display: none;
} */
.sv-collapsed>*{
    display: none;
}
.sv-collapsed>.sv-collapse-icon{
    display: block;
}

.sv-disabled{
    background: #333 !important;
    border-color: #888 !important;
    color: #888 !important;
    cursor: not-allowed !important;
}

.sv-test>header{
    display: flex;
    justify-content: space-around;
}

.sv-test-preview{
    background-color: var(--bg-code);
    color: var(--light-yellow);
    padding: 10px;
    border: 1px dashed white;
    border-radius: 13px;
    font-weight: normal;
    text-align: left;
}
.sv-test-preview-out{
    color: var(--green);
}

.sv-test-actualOutput-bad{
    color: var(--red);
}
.sv-test:hover{
    background-color: #272727;
    color: #b9b9b9;
}

.sv-test-ok{
    border: 2px solid var(--dark-green);
    color:var(--dark-green);
    background-color: var(--green);
}
.sv-test-ok:hover{
    border-color:var(--green);
    color:var(--green);
    background-color: var(--darker-green);
}
.sv-test-bad{
    /* border: 2px solid var(--blue);
    color:var(--blue);
    background-color: var(--red); */
    border:2px solid var(--dark-red);
    color:var(--blue);
    background-color: var(--red);
}
.sv-test-bad:hover{
    border-color:var(--red);
    color:var(--red);
    background-color: var(--dark-red);
}





/* ABOUT PAGE*/

.ab-container{
    padding: 50px;
    max-width:900px ;
    font-size: 18px;
    margin: auto;
    /* background-color: red; */
}
.ab-container>p{
    width: 90%;
    margin: auto;
}