@import url("./palette.css");

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
}

body{
    background: var(--background);
    background: var(--dark-blue);
    color: var(--light-yellow); 
    font-family: system-ui;
    margin: 0;
}
*{
    box-sizing: content-box;
}


.main-header{
    position: relative;
    width: 100%;
    margin: 0;
    height: 70px;
    /* margin-bottom: 50px; */
    font-size: 1.25em;
    background:var(--dark-green);
    background: linear-gradient(90deg, var(--darker-green) 0%, var(--dark-green) 50%, var(--darker-green) 100%);
}
.headerToggler{
    display: none;
}
.theme-toggler{
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    text-align: center;
    place-content: center;
    /* background-color: red; */
    font-size: 1.1em;
    cursor: pointer;
}
.main-header>nav{
    /* background-color: brown; */
    margin: 0;
    display: flex;
    height: 70px;
    align-items: center;
    gap: 50px;
    justify-content: center;
}
.main-header>nav>a{
    margin: 0;
    /* background-color: red; */
    padding: 10px;
    color: var(--light-yellow);
    text-decoration: none;
    font-size: 1em;
}
.main-header>nav>a>img{
    width: 50px;
    height: 50px;
    margin: 0;
}

.d-none{
    display: none;
}


.main-footer{
    background:var(--dark-green);
    background: linear-gradient(90deg, var(--darker-green) 0%, var(--dark-green) 50%, var(--darker-green) 100%);
    height: 150px;
    /* margin-top: 50px; */
    display: flex;
    place-items: center;
    place-content: center;
    gap: 50px;
    font-size: 3em;
    position: relative;
}
.main-footer>a{
    color: var(--light-yellow);
    transition-duration: 100ms;
}
.main-footer>a:hover{
    transform: scale(1.5);
}

.not-found{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
}



@media (width< 480px) {

.main-header{
    position: fixed;
    width: 250px;
    left: 0px;
    height: auto;
    z-index: 1;
    padding: 30px 0px;
    border-radius: 0px 15px 15px 0px;
    background: linear-gradient(90deg, var(--darker-green) 0%, var(--dark-green) 50%, var(--darker-green) 100%);
    box-shadow: -5px -5px 20px 0px var(--white-transparent);
    transition-duration: 100ms;
    transition-property: left;
}

.main-header>nav{
    margin: 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: auto;
}
.main-header>nav>a:nth-child(2){
    order: -1;

}
.headerToggler{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: -40px;
    font-size: 1.5em;
}

.theme-toggler{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    right: 0px;
    width: 40px;
    height: 40px;
}

.main-header-collapsed{
    left: -250px;
}

}